<!DOCTYPE html>
<html>
  <head>
    <title>Lesson</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Ruby on Rails</h1>
    </header>
    <%= yield %>
      <footer>
<<<<<<< HEAD
        <h1>Hello World! こんにちは。明日は勉強します。</h1>
=======
        <h1>Hello World!konnnitiha</h1>
>>>>>>> 5d4420a (konnnitiha を追加)
      </footer>
  </body>
</html>
